# Core
pandas
numpy
pyarrow>=14.0.1
setuptools>=75.0.0
scikit-learn>=1.5.0
scipy
joblib

# Modelos de boosting
xgboost
lightgbm

# Hiperparametrización
optuna

# Encoding
category-encoders

# Explicabilidad
shap>=0.46.0

# Visualización
matplotlib>=3.9.0
seaborn
plotly

# App
streamlit

# Base de datos
sqlalchemy
psycopg2-binary

# AWS
boto3
