# Core
pandas
numpy
pyarrow==17.0.0
setuptools>=75.0.0
scikit-learn>=1.5.0
scipy
joblib

# Modelos de boosting
xgboost
lightgbm

# Hiperparametrización
optuna

# Encoding
category-encoders

# Explicabilidad (Se deja libre para evitar fallos de compilación C++)
shap>=0.46.0

# Visualización
matplotlib>=3.9.0
seaborn
plotly

# App
streamlit

# Base de datos (Se cambia psycopg2-binary por pg8000 o se deja libre para evitar errores de binarios)
sqlalchemy
psycopg2-binary

# AWS
boto3
