# Core
pandas
numpy
pyarrow==14.0.2
scikit-learn
scipy
joblib

# Modelos de boosting
xgboost
lightgbm

# Hiperparametrización
optuna

# Encoding
category-encoders

# Explicabilidad (Se deja libre para evitar fallos de compilación C++)
shap

# Visualización
matplotlib
seaborn
plotly

# App
streamlit

# Base de datos (Se cambia psycopg2-binary por pg8000 o se deja libre para evitar errores de binarios)
sqlalchemy
psycopg2-binary

# AWS
boto3
